@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    color: white;
    font-family: "Open Sans", sans-serif;
    background-image: url('img/site-oferece-jogos-antigos-saiba-como-acessar-595993.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    max-width: 1300px;
    margin: auto;
}
.avatar{
    width: 280px;
    border: 8px solid white;
    border-radius: 200px;
}

ul{
    list-style-type: none;
}
.lista{
    text-align: center;
}
.background-image {
    background-image: url('img/site-oferece-jogos-antigos-saiba-como-acessar-595993.webp');
  }